.container_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:400px;
    background-color:red;
}

.images_1 {
    display: flex;
    justify-content: space-between;
    width: 100%

}

.images_1 img {

    width: 300px;
    height:300px;
    border-radius: 15px;
}

.board_1 {
    width: 100%;
}