.container_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.images_2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.images_2 img {
    width: 500px;
    height:200px;
}

.board_2 {
    width: 100%;
}