.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.images2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.images2 img {
    width: 70px;
    height:70px;
}

.board2 {
    width: 100%;
}