#top{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 1280px;
    height: 700px;
    position: relative;
    margin: 0 auto;
}
#middle {
    display: flex;
    justify-content: space-between;
    width:1280px;
    height:900px;
    padding-top:30px;
    margin: 0 auto;
}
#LeftText{
    font-size:30px;
    font-family:"Dovemayo_gothic";
}

#middle-left {

    width:50%;
    height:100%;
    background-color: aqua;
}
#RightText{
    font-size:30px;
    font-family:"Dovemayo_gothic";
}
#middle-right {
    width:50%;
    height:100%;
    background-color: navy;

}

#middle-rtop {
    height:50%;
}

#middle-rbottom {
    height:50%;
    background-color: antiquewhite;
}

