.all{
    background-color: #f5f6f7;
    padding-top: 1px;
    height:1400px;
    width: 1280px;
    position: relative;
    margin: 0 auto;
}

.input-wrap{
    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}
