.all{
    background-color: #f5f6f7;
    padding-top: 1px;
    height:1400px;
    width: 1280px;
    position: relative;
    margin: 0 auto;
}
.login-wrap{
    text-align: center;
    margin: 40vh 0 0 35vh;
    /*margin: 400px 0 0 400px;*/
    width:500px;
    height:300px;

}
.login-text{
    padding-top: 50px;
}

.login-id-wrap{
    width:480px;
    height: 52px;
    margin: 0px 0px 8px 10px;
    border: solid 1px #dadada;
    background: #fff;
    outline:none;
    color:red;
}

.login-passwd-wrap{
    height: 52px;
    margin: 0px 10px 8px 10px;

    border: solid 1px #dadada;
    background: #fff;
}

.user_id{
    width:480px;
    height: 52px;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    border: solid 1px #dadada;
    outline:none;
    font-size:large;

}

.user_pw{
    width:480px;
    height: 52px;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    border: solid 1px #dadada;
    font-size:large;
    outline:none;

}
.loginBtn{
    height: 52px;
    line-height: 55px;
    margin: 0px 10px 8px 10px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #03c75a;
    color: #fff;
    cursor: pointer;
}
.under-login{
    height: 50px;
    /*border-bottom: 1px solid gainsboro;*/
    margin: 25px 10px 35px 80px;
}
/*로그인상태유지*/
.stay-check{
    margin-left: 7px;
    float: left;
}