
.Container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ImageBack {
    z-index: 0;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family:"Dovemayo_gothic";
}
.DepartBlock{
    position: absolute;
    top: 20%;
    margin-left: 200px;
}

.ArriveBlock{
    position: absolute;
    top: 20%;
    margin-left: 700px;

}

.PlanBlock {
    position: absolute;
    width: 200px;
    height: 70px;
    line-height: 55px;
    margin: 590px 10px 8px 1000px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #191970;
    color: #fff;
    cursor: pointer;
    font-size:30px;
    text-align: center;
    border-radius: 15px;
}

.PlanBlock:hover{
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}

/*.test{  수정 중 */
/*    width:1200px;*/
/*    height:700px;*/
/*    background-color:red;*/
/*    background-color: rgba( 255, 255, 255, 0.5 );*/
/*    z-index: 1;*/
/*}*/