
.Container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ImageBack {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.DepartBlock{
    position: absolute;
    top: 20%;
    margin-left: 200px;
}

.ArriveBlock{
    position: absolute;
    top: 20%;
    margin-left: 700px;

}

/*.Row {*/
/*    padding: 0 1rem;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    justify-content: space-between;*/
/*    padding: 0 1rem;*/
/*}*/
.PlanBlock {
    position: absolute;
    width: 200px;
    height: 100px;
    line-height: 55px;
    margin: 550px 10px 8px 1000px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #191970;
    color: #fff;
    cursor: pointer;
    font-size:30px;
    border-radius: 15px;
}

.PlanBlock:hover{
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}
