.sch-wrap{
    position:fixed;
    width:1280px;
    height:1200px;
    margin: 0 auto;
    background-color: #f5f6f7;
}
.sch-1{
    width:400px;
    height: 500px;
    margin: 200px 0 0 40px ;
    background-color: tomato;

}